html 
{
    min-height: 100%;
}

@font-face 
{
    font-family: Gotham_Medium;
    src: url("../fonts/Gotham Medium.otf");
}

body 
{
    background-image: linear-gradient(to bottom, rgba(0, 208, 255, 1), rgba(0, 101, 255, 1));
    font-family: Gotham_Medium; 
    color: white;
}

.logo
{
    position: relative;
    top: 25px;
    left: 25px;
    margin-top: 500px;
    border: 10px solid;
    padding: 5px 15px;

    font-size: 50px;
    font-weight: bold;
    text-decoration: none;

    color: white;
    background-color: black;
    mix-blend-mode: screen;

    cursor: pointer;

    transition-duration: 250ms;
}

.logo:hover,
.logo:focus
{
    color: black;
    background-color: white;
}

.sidebar 
{
    height: 100%;
    width: 300px;
    position: fixed;
    margin: 50px 0;
    padding: 20px 0px 0px 20px;
    top: 1;
    left: 0;
    line-height: 100px;

    background-color: black;
    mix-blend-mode: screen;
    
}

.sidebar .category
{
    position: relative;
	border-radius: 10px;
    padding: 5px 10px;
    left: 0;

    font-size: 50px;
    font-weight: bold;
    text-decoration: none;

    color: white;

    cursor: pointer;

    transition-property: left, color, background;
    transition-duration: 250ms;
    transition-delay: 0ms;
}

.sidebar .category:hover,
.sidebar .category:focus
{
    left: 25px;
    color: black;
    background: white;
}

.main
{
    margin-left: 400px;
}



