.sidebar  {
    display: flex;
    flex-direction: column;

    height: max-content;
    width: 300px;
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    padding: 20px;
    top: 0;
    left: 0;

    background-color: black;
    mix-blend-mode: screen;
    
}

.logo {
    position: relative;
    width: 210px;
    height: 75px;
    border: 10px solid;
    margin-bottom: 20px;

    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    color: white;
    background-color: black;
    mix-blend-mode: screen;

    cursor: pointer;

    transition-duration: 250ms;
}

.logo:hover, .logo:focus {
    color: black;
    background-color: white;
}

.category {
    position: relative;
	border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;

    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
    color: white;

    cursor: pointer;
    
    transition-duration: 250ms;
}

.category:hover, .category:focus {
    color: black;
    background: white;
}

.category:focus {
    outline: none;
}